# Ignore everything
*

# Allow files and directories
!pycashier
!pyproject.toml
!README.md
!LICENSE
!docker/*.lock
!.git/

# Ignore unnecessary files inside allowed directories
# This should go after the allowed directories
**/*~
**/*.log
**/.DS_Store
**/Thumbs.db
