[tool.poetry]
name = "pycashier"
version = "0.2.2"
description = "cash in on expressed barcode tags"
authors = ["Daylin Morgan <daylinmorgan@gmail.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/brocklab/pycashier/"
include = [
    "LICENSE"
]

[tool.poetry.dependencies]
python = "^3.7, <3.10"
pysam = "^0.17.0"
rich = "^10.12.0"

[tool.poetry.dev-dependencies]
flake8 = "^4.0.1"
black = "^21.10b0"
isort = "^5.9.3"
pre-commit = "^2.15.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
pycashier = "pycashier.pycashier:main"

[tool.isort]
profile = "black"
multi_line_output = 3
